[submodule "graphdb"]
	path = submodules/graphdb
	url = https://github.com/MaastrichtU-IDS/graphdb.git
[submodule "lodestar"]
	path = submodules/lodestar
	url = https://github.com/EBISPOT/lodestar.git
[submodule "rdf2hdt"]
	path = submodules/rdf2hdt
	url = https://github.com/vemonet/rdf2hdt.git
[submodule "Server.js"]
	path = submodules/Server.js
	url = https://github.com/LinkedDataFragments/Server.js
[submodule "submodules/PyShEx"]
	path = submodules/PyShEx
	url = https://github.com/hsolbrig/PyShEx
[submodule "submodules/node-solid-server"]
	path = submodules/node-solid-server
	url = https://github.com/solid/node-solid-server
