[submodule "xml2rdf"]
	path = submodules/xml2rdf
	url = https://github.com/MaastrichtU-IDS/xml2rdf.git
[submodule "apache-drill"]
	path = submodules/apache-drill
	url = https://github.com/amalic/apache-drill.git
[submodule "AutoR2RML"]
	path = submodules/AutoR2RML
	url = https://github.com/amalic/AutoR2RML.git
[submodule "r2rml"]
	path = submodules/r2rml
	url = https://github.com/amalic/r2rml.git
[submodule "RdfUpload"]
	path = submodules/RdfUpload
	url = https://github.com/MaastrichtU-IDS/RdfUpload.git
[submodule "graphdb"]
	path = submodules/graphdb
	url = https://github.com/MaastrichtU-IDS/graphdb.git
[submodule "lodestar"]
	path = submodules/lodestar
	url = https://github.com/EBISPOT/lodestar.git
[submodule "rdf2hdt"]
	path = submodules/rdf2hdt
	url = https://github.com/vemonet/rdf2hdt.git
[submodule "Server.js"]
	path = submodules/Server.js
	url = https://github.com/LinkedDataFragments/Server.js
[submodule "data2services-download"]
	path = submodules/data2services-download
	url = https://github.com/MaastrichtU-IDS/data2services-download.git
[submodule "submodules/PyShEx"]
	path = submodules/PyShEx
	url = https://github.com/hsolbrig/PyShEx
[submodule "submodules/node-solid-server"]
	path = submodules/node-solid-server
	url = https://github.com/solid/node-solid-server
[submodule "submodules/data2services-sparql-operations"]
	path = submodules/data2services-sparql-operations
	url = https://github.com/MaastrichtU-IDS/data2services-sparql-operations.git
